@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";

:root {
    --bs-font-sans-serif: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --bs-white: #fff;
    --bs-purple: #7212E7;
    --bs-red: #DC2626;
    --bs-black-700: #1B1B1B;
    --bs-gray-400: #797878;
    --bs-gray-label: #5D5656;
    --bs-gray-input: #C2BEBE;
    --bs-gray-sidebar: #333333;
    --bs-purple-bg-sidebar: #7212E70D;
    --bs-red-sidebar: #F03D3D;
    --bs-red-bg-sidebar: #F03D3D1A;
    --bs-gray-form-control: #A9A2A2;
    --bs-laravel-black-900: #111110;
    --bs-laravel-black-100: #222221;
    --bs-laravel-yellow-100: #DEE33E;
    --bs-laravel-yellow-200: #C4C72F;
    --bs-laravel-yellow-300: #9FA324;
    --bs-laravel-gray-100: #F3F4F6;
    --bs-laravel-gray-200: #D1D5DB;
    --bs-laravel-gray-300: #9CA3AF;
}

/* Fonte global */
body {
    font-family: var(--bs-font-sans-serif);
}

/* Cores de fundo personalizadas */
.bg-purple {
    background-color: var(--bs-purple);
}
.bg-laravel-black-900 {
    background-color: var(--bs-laravel-black-900);
}
.bg-laravel-yellow-100 {
    background-color: var(--bs-laravel-yellow-100);
}
.bg-laravel-yellow-200 {
    background-color: var(--bs-laravel-yellow-200);
}
.bg-laravel-yellow-300 {
    background-color: var(--bs-laravel-yellow-300);
}
.bg-purple-sidebar {
    background-color: var(--bs-purple-bg-sidebar);
}
.bg-red-sidebar {
    background-color: var(--bs-red-bg-sidebar);
}

/* Cores de texto personalizadas */
.text-purple {
    color: var(--bs-purple);
}
.text-laravel-yellow-100 {
    color: var(--bs-laravel-yellow-100);
}
.text-black-700 {
    color: var(--bs-black-700);
}
.text-gray {
    color: var(--bs-gray-400);
}
.text-gray-label {
    color: var(--bs-gray-label);
}
.text-gray-sidebar {
    color: var(--bs-gray-sidebar);
    font-size: 14px;
    font-family: 400;
}
.text-red {
    color: var(--bs-red-sidebar);
}


/* Estilos adicionais */
.card-rounded {
    border-radius: 1.5rem; /* rounded-4 */
}

.btn-yellow {
    background-color: var(--bs-laravel-yellow-100);
    color: var(--bs-black-700);
    font-weight: 600;
}
.btn-yellow:hover {
    background-color: var(--bs-laravel-yellow-200);
}

.btn-purple {
    background-color: var(--bs-purple);
    color: var(--bs-white);
    font-weight: 400;
    border-radius: 8px;
    padding: 8px;
}
.btn-purple:hover {
    background-color: var(--bs-purple);
    color: var(--bs-white);
}
.btn-purple-main {
    background-color: var(--bs-purple);
    color: var(--bs-white);
    font-weight: 400;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 50px;
    padding-right: 50px;
}
.btn-purple-main:hover {
    background-color: var(--bs-purple);
    color: var(--bs-white);
}
.btn-cancelar-vermelho {
    background-color: var(--bs-red);
    color: var(--bs-white);
    font-weight: 500;
    border-color: var(--bs-white);
    border-radius: 8px;
    padding: 8px;
}
.btn-cancelar-vermelho:hover {
    background-color: var(--bs-red);
    color: var(--bs-white);
    font-weight: 500;
    border-color: var(--bs-red);
    border-radius: 8px;
    padding: 8px;
}
.btn-cancelar {
    background-color: var(--bs-white);
    color: var(--bs-red);
    font-weight: 500;
    border-color: var(--bs-red);
    border-radius: 8px;
    padding: 8px;
}
.btn-cancelar:hover {
    background-color: var(--bs-red);
    color: var(--bs-white);
    font-weight: 500;
    border-color: var(--bs-red);
    border-radius: 8px;
    padding: 8px;
}
/* Ajustes gerais */
.form-control-light {
    background-color: var(--bs-laravel-gray-100);
    color: var(--bs-black-700);
}
input::placeholder {
    color: #C2BEBE !important;
}